// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)
#endif

#ifdef APSTUDIO_INVOKED
#ifndef APSTUDIO_READONLY_SYMBOLS
#define _APS_NEXT_RESOURCE_VALUE        130
#define _APS_NEXT_COMMAND_VALUE         32836
#define _APS_NEXT_CONTROL_VALUE         1000
#define _APS_NEXT_SYMED_VALUE           101
#endif
#endif

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)
#endif

IDR_MAINFRAME           ICON                    "res\\EarthStoryFlight.ico"
IDR_EarthStoryFlightTYPE ICON                   "res\\EarthStoryFlightDoc.ico"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)
#endif

IDR_MAINFRAME MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       ID_APP_EXIT
    END
    POPUP "&Map"
    BEGIN
        MENUITEM "\xc1\xf6\xb5\xb5\x20\xbf\xad\xb1\xe2",                 ID_MAP_OPEN
    END
    POPUP "\xc5\xf5\xbe\xee"
    BEGIN
        POPUP "\xce\xb4\xeb\xa9\x94\xb6\xc2 \xb0\xc5\xb8\xae"
        BEGIN
            MENUITEM "KML \xad\x8c\xc7\xa5\xb0\xaa", ID_TOUR_CAMERA_RANGE_KML
            MENUITEM "1,000 m", ID_TOUR_CAMERA_RANGE_1000
            MENUITEM "3,000 m", ID_TOUR_CAMERA_RANGE_3000
            MENUITEM "5,000 m", ID_TOUR_CAMERA_RANGE_5000
            MENUITEM "10,000 m", ID_TOUR_CAMERA_RANGE_10000
            MENUITEM "20,000 m", ID_TOUR_CAMERA_RANGE_20000
            MENUITEM "30,000 m", ID_TOUR_CAMERA_RANGE_30000
            MENUITEM "\xbb\xe7\xbf\xeb\xc0\xda \xc1\xf6\xc1\xa4...", ID_TOUR_CAMERA_RANGE_CUSTOM
        END
        POPUP "\xce\xb4\xeb\xa9\x94\xb6\xc2 \xb1\xe2\xbf\xf2\xb1\xe2"
        BEGIN
            MENUITEM "KML \xad\x8c\xc7\xa5\xb0\xaa", ID_TOUR_CAMERA_TILT_KML
            MENUITEM "30\xb0", ID_TOUR_CAMERA_TILT_30
            MENUITEM "45\xb0", ID_TOUR_CAMERA_TILT_45
            MENUITEM "60\xb0", ID_TOUR_CAMERA_TILT_60
            MENUITEM "70\xb0", ID_TOUR_CAMERA_TILT_70
            MENUITEM "75\xb0", ID_TOUR_CAMERA_TILT_75
            MENUITEM "\xbb\xe7\xbf\xeb\xc0\xda \xc1\xf6\xc1\xa4...", ID_TOUR_CAMERA_TILT_CUSTOM
        END
        MENUITEM "\xb1\xe2\xba\xbb", ID_TOUR_GEUMSAN_TEST
        MENUITEM "\xb1\xdd\xbb\xea\xc6\xd0\xb0\xe6\x20\xbb\xf3\xb9\xf8\x20\xbc\xb1\xc8\xb8\x20\xba\xf1\x20\xc7\xe0", ID_TOUR_GEUMSAN_8SCENERY
        MENUITEM "\xb1\xdd\xbb\xea\x20\x31\x30\xb0\xe6", ID_TOUR_GEUMSAN_10SCENIC
        MENUITEM "\xc3\xe2\xbe\xd6\xb1\xb8\x20\xb0\xe6\xb7\xce", ID_TOUR_EXODUS_MEMPHIS_JERICHO
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About Earth Story Flight (ESF)...", ID_APP_ABOUT
    END
END

IDD_MAPLIBRARY DIALOGEX 0, 0, 480, 360
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "\xc1\xf6\xb5\xb5\x20\xb0\xfc\xb8\xae"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_TAB_MAPTYPE,"SysTabControl32",TCS_FIXEDWIDTH | WS_TABSTOP,12,12,456,24
    PUSHBUTTON      "\xbc\xb1\xc5\xc3\x20\xc1\xf6\xb5\xb5\x20\xbf\xad\xb1\xe2",IDC_BTN_OPEN_SELECTED_MAP,12,324,120,24
    PUSHBUTTON      "\xbb\xf3\x20\xc1\xf6\xb5\xb5\x20\xc3\xdf\xb0\xa1",IDC_BTN_ADD_NEW_MAP,152,324,100,24
    PUSHBUTTON      "\xb4\xdd\xb1\xe2",IDCANCEL,408,324,60,24
END

IDD_MAPNAME DIALOGEX 0, 0, 260, 80
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "\xc1\xf6\xb5\xb5\x20\xc0\xcc\xb8\xa7"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    LTEXT           "\xc1\xf6\xb5\xb5\x20\xc0\xcc\xb8\xa7\x20\xc0\xd4\xb7\xc2\x3a",IDC_STATIC,10,12,120,8
    EDITTEXT        IDC_EDIT_MAPNAME,10,24,240,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,70,52,50,14
    PUSHBUTTON      "\xc3\xeb\xb7\xce",IDCANCEL,140,52,50,14
END

IDD_TOUR_CAMERA_RANGE DIALOGEX 0, 0, 320, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Camera Range"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    LTEXT           "1,000 m",IDC_STATIC_TOUR_RANGE_MIN,12,18,40,8
    LTEXT           "30,000 m",IDC_STATIC_TOUR_RANGE_MAX,268,18,40,8
    CONTROL         "",IDC_SLIDER_TOUR_RANGE,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,12,30,296,14
    LTEXT           "Current",IDC_STATIC_TOUR_RANGE_CURRENT,12,50,296,8
    LTEXT           "Range:",IDC_STATIC_TOUR_RANGE_LABEL,12,68,48,8
    EDITTEXT        IDC_EDIT_TOUR_RANGE,64,66,72,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "m",IDC_STATIC_TOUR_RANGE_UNIT,142,68,12,8
    PUSHBUTTON      "Default",IDC_BTN_TOUR_RANGE_DEFAULT,12,92,60,14
    PUSHBUTTON      "Apply",IDC_BTN_TOUR_RANGE_APPLY,188,92,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,252,92,50,14
END

IDD_TOUR_CAMERA_TILT DIALOGEX 0, 0, 320, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Camera Tilt"
FONT 9, "Segoe UI", 0, 0, 0x1
BEGIN
    LTEXT           "0 deg",IDC_STATIC_TOUR_TILT_MIN,12,18,24,8
    LTEXT           "80 deg",IDC_STATIC_TOUR_TILT_MAX,276,18,32,8
    CONTROL         "",IDC_SLIDER_TOUR_TILT,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,12,30,296,14
    LTEXT           "Current",IDC_STATIC_TOUR_TILT_CURRENT,12,50,296,8
    LTEXT           "Tilt:",IDC_STATIC_TOUR_TILT_LABEL,12,68,48,8
    EDITTEXT        IDC_EDIT_TOUR_TILT,64,66,72,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "deg",IDC_STATIC_TOUR_TILT_UNIT,142,68,16,8
    PUSHBUTTON      "Default",IDC_BTN_TOUR_TILT_DEFAULT,12,92,60,14
    PUSHBUTTON      "Apply",IDC_BTN_TOUR_TILT_APPLY,188,92,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,252,92,50,14
END

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Earth Story Flight (ESF)"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            IDR_MAINFRAME,IDC_STATIC,14,14,20,20
    LTEXT           "Earth Story Flight (ESF), Version 1.0",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2026",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "OK",IDOK,113,41,50,14,WS_GROUP
END

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)
#endif

STRINGTABLE
BEGIN
    IDR_MAINFRAME           "Earth Story Flight (ESF)\n\nEarthStoryFlight\n\n\nEarthStoryFlight.Document\nEarth Story Flight (ESF) Document"
END

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)
#endif

STRINGTABLE
BEGIN
    AFX_IDS_APP_TITLE       "Earth Story Flight (ESF)"
    AFX_IDS_IDLEMESSAGE     "Ready"
END

#ifndef APSTUDIO_INVOKED
#endif
